.ServiceContainer {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    margin-top: 60px;
}

h2 {
    font-size: 40px;
    margin: 20px;
    margin-left: 0;
    font-family: 'Archivo', 'sans-serif';
    margin-bottom: 30px;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 350px;
    gap: 50px;
    transition: justify-content 0.3s ease-in-out;

    .service {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        background-color: rgba(199, 191, 191, 0.288);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        transition: width 0.3s ease-in-out;

        .left {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px;
            transition: width 0.3s ease-in-out;
            opacity: 1;

            h3 {
                font-size: 25px;
                margin-bottom: 15px;
                font-family: 'Archivo', 'sans-serif';
            }

            p {
                font-size: 14px;
                text-align: center;
                margin-bottom: 10px;
            }

            button {
                width: 90px;
                height: 40px;
                border-radius: 20px;
                background-color: rgb(255, 102, 0);
                color: white;
                border: none;
                outline: none;
                cursor: pointer
            }
        }

        .right {
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: -50%;
            transition: left 0.6s ease-in-out;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
        }

        &:hover .left {
            width: 50%;
            align-items: flex-start;
            opacity: 1;

            p {
                text-align: unset;
            }
        }

        &:hover .right {
            left: 50%;
        }
    }

    .services:hover {
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .ServiceContainer {
        margin: 0 50px;
        margin-left: 70px;
        h2{
            margin-bottom: 40px;
        }

        .services {
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .service {
                width: auto;
                height: max-content;
                padding: 20px;
                padding-bottom: 10px;

                .left {
                    width: 100%;
                    align-items: center;

                    h3 {
                        font-size: 20px;
                        text-wrap: nowrap;
                        text-align: center;
                    }

                    p {
                        display: none;
                    }

                    button {
                        width: max-content;
                        padding: 10px;
                        height: max-content;
                        margin-bottom: 15px;
                    }

                    .right {
                        display: none;
                    }
                }

            }

        }

    }
}