.Homes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    /* margin: 0 auto; */
    position: relative;
    /* left: -20px; */
    /* position:fixed; */
    top: 0px;
}

@media (max-width: 480px) {
  .Homes{
    
    left: -20px;
  }
}