.FooterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  justify-content: center;
  margin-top: 100px;
  gap: 20px;
  padding: 0 50px;
  align-items: center;
  padding-bottom: 2px;
  background-color: #fff6db;
  p{
  color: #000;
  }
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
    gap: 20px;
    align-items: center;
    .Socials {
      display: flex;
      flex-direction: column;
      gap: 5px;
      h3{
        font-size: 40px;
      }

      .Social {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 20px;
        font-size: 30px;
        .iconS {
          background-color: rgb(250, 243, 235);
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          border-radius: 50%;
          justify-content: center;
        }
      }
    }
    .footerMenu{
      display: flex;
      flex-direction: row;
      gap: 100px;
      align-items: center;
      justify-content: center;
      margin-bottom: 70px;
      a{
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: bold;
      }
      }
  }


}

@media (max-width: 768px) {

    .FooterContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        /* margin: 0; */
        left: 20px;
        width: auto;
        position: relative;
        .top{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 0;
            padding-bottom: 0px;
            .Socials{
                 h3{
                    font-weight:bolder;
                    font-size: 30px;

                }
                .Social{
                    font-size:30px;
                    display: flex;
                    /* padding: 10px; */
                }
            }
            .footerMenu{
                display: flex;
                gap: 50px;
                align-items: center;
                justify-content: center;
                margin: 0;

            }
        }
    }
  }