.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 100px;
  margin-top: 20px;

  .image {
    width: 781px;
    height: 591px;
    display: flex;
    flex-direction: row;

    .square {
      position: absolute;
      height: 591px;
      width: 470px;
      background-color: #facd49;
      /* filter: blur(10px); */
      transition: transform 0.3s ease;
      /* Add transition for movement */
    }

    .circle {
      position: absolute;
      height: 591px;
      width: 591px;
      background-color: #facd49;
      left: 275px;
      border-radius: 50%;
      /* filter: blur(10px); */
      transition: transform 0.3s ease;
      /* Add transition for movement */
    }

    #personImage {
      position: relative;
      width: 1200px;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: center;

    h2 {
      font-size: 24px;
      line-height: 1.5;
    }

    p {
      font-size: 18px;
      color: #191825;
      opacity: 0.7;
      font-family: "Inter", sans-serif;
      text-align: justify;
      line-height: 1.5;
    }

    button {
      background-color: #010101;
      border: none;
      border-radius: 20px;
      width: 137px;
      height: 50px;
      color: #ffffff;
      z-index: 3;
      font-weight: bold;
      font-family: "Inter", sans-serif;
      cursor: pointer;

      &:hover {
        background-color: #face494d;
        color: black;
      }
    }
  }


}

@media (max-width: 768px) {
  .Container {
    width: 100%;
    margin: 0 20px;
    background-color: #facd49;
    margin-bottom: 50px;
    padding: 20px;

    .image {
      display: none;
    }

    .text {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      width: 500px;
      align-items: center;
      justify-content: center;
      gap: 10px;

      h2 {
        font-weight: bolder;
        font-size: 25px;
        margin-left: 30px;
      }

      p {
        margin-left: 10px;
        margin-right: 10px;
      }

      button {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 480px) {
  .text {
    width: 100%;

    h1 {
      font-size: 2px;
      /* You may want to adjust this */
    }

    p {
      font-size: 16px;
    }

    button {
      width: 120px;
      height: 45px;
    }
  }
}