
.backdropHead {
    padding: 100px;
    width: 100%;
    object-fit:fill;
    height: 400px;
    text-align: center;
    padding-top:200px;
    padding-right: 150px;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
  }

  @media (max-width: 768px){
    .backdropHead{
      padding:0;
      height: auto;
      display: none;
    }
  }