@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  box-sizing: border-box; /* Ensures padding and border are included in width/height calculations */
  margin: 0;
  padding: 0;

  font-family: "Archivo", sans-serif;
  scroll-behavior: smooth;
}




